@use '../../styles/global-variables' as *;
@use 'sass:color';

.link {
    color: $mainBlue;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: color.adjust($mainBlue, $lightness: -10%);
    }
}