.set-admin-modal {
    min-width: 360px;
    max-width: 560px;
    height: 350px;
    display: flex;
    flex-direction: column;

    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0,0,0,0.08);
        padding: 0.75rem 1rem;
        flex-shrink: 0;
    }

    .modal-body {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;

        .user-list {
            .user-item {
                padding: 0.5rem;
                border: 1px solid #ddd;
                margin-bottom: 0.5rem;
                cursor: pointer;
                border-radius: 4px;

                &.admin {
                    background-color: rgba(255, 182, 193, 0.5); /* розовато-салатовый */
                    cursor: not-allowed;
                }

                &.selected {
                    background-color: rgba(173, 216, 230, 0.5); /* прозрачно-голубой */
                }

                &:hover:not(.admin) {
                    background-color: #f8f9fa;
                }
            }
        }
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        padding: 0.75rem 1rem;
        border-top: 1px solid rgba(0,0,0,0.04);
        background: transparent;
        flex-shrink: 0;
    }
}