@if (user$ | async; as user) {
<div class="header d-flex justify-content-between align-items-center p-2">
    <div></div>
    <div class="d-flex align-items-center" ngbDropdown>
        <button class="btn me-2" ngbDropdownToggle>{{ user.userName }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            @if(isAdmin$ | async; as isAdmin) {
                @if(isAdmin) {
                    <button ngbDropdownItem (click)="store.dispatch(SetAdminUserAction())">
                        Set Admin
                    </button>
                }
            }
            <button ngbDropdownItem (click)="store.dispatch(LoginPageActions.LogoutAction())">
                Logout
            </button>
        </div>
    </div>
</div>
}